/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 26, 2022, 4:33:18 PM
    Author     : objects
*/

$red: #ff0669;
$sage: #bcb382;
$gold: #e5c687;
$orange: #f8a03d;
$dark: #070707;

%icon {
  font-family: "ui-icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.game-bg {
  height: 75vh;
  width: 100vw;
  margin-bottom: -75vh;
  z-index: -1;
  opacity: 0.5;
  position: relative;
  &::after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    height: 75vh;
    width: 100vw;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0+25,1+100 */
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
  }
}

.cont-with-aside {
  display: flex;
  padding-top: 30px;
  gap: 30px;
  .game-description {
    flex-basis: 75%;
    max-width: 75%;
  }
  .game-sidebar {
    flex-basis: 25%;
    max-width: 25%;
  }
  @media screen and (max-width: 991px) {
    flex-wrap: wrap;
    .game-description,
    .game-sidebar {
      flex-basis: 100%;
      max-width: 100%;
    }
  }
}

.game-wrapper {
  margin-top: 30px;
  .game-title {
    color: $red;
    font-size: 3rem;
    .title-meta {
      .game-info {
        gap: 10px;
        display: flex;
        align-items: flex-end;
        margin-bottom: 0;
        h2 {
          font-weight: normal;
          font-size: 0.85rem;
        }
      }
    }
    h1 {
      margin-top: 0;
    }
  }
  .game-description {
    p {
      margin-bottom: 30px;
      &:empty {
        display: none;
      }
    }
  }
  .game-info {
    color: #fff;
    box-sizing: border-box;
    font-weight: 400;
    margin-bottom: 1.5rem;
    position: relative;
    overflow: hidden;
    font-size: 0.85rem;
    h2 {
      color: $red;
      text-transform: capitalize;
      margin-bottom: 0.25rem;
      font-size: 1rem;
    }
    &::after {
      @extend %icon;
      font-size: 34px;
      position: absolute;
      right: -5px;
      color: darken($red, 15%);
      text-shadow: 0 1px 1px #fff;
    }
  }
  .game-badges {
    display: flex;
    flex-wrap: wrap;
  }
  .release-date,
  .game-metascore {
    color: $dark;
    border: 1px solid rgba(white, 0.25);
    border-radius: 0.25rem;
    padding: 0.5rem 0.75rem;
    max-width: fit-content;
    min-width: 200px;
    margin-right: 15px;
  }
  .release-date {
    background: $gold;
    &::after {
      top: 17px;
      content: "\e978";
    }
    h2 {
      color: $dark;
    }
  }
  .game-metascore {
    background: $sage;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1;
    &::after {
      font-size: 40px;
      content: "\e90d";
      right: -13px;
      top: 15px;
    }
    h2 {
      color: $dark;
    }
  }
  .compare-wrapper {
    overflow: visible;
    margin-right: 15px;
    button {
      height: 100%;
      background: $red;
      font-size: 1.25em;
      display: flex;
      border-radius: 0.25rem;
      align-items: center;
      border: 1px solid transparent;
      &:before {
        @extend %icon;
        content: "\e90c";
        font-size: 34px;
        margin-right: 7px;
        color: #fff;
        vertical-align: middle;
        text-shadow: 0 1px 1px darken($red, 15%);
      }
      &:hover {
        background-color: darken($red, 15%);
      }
      &.added {
        color: green;
        background-color: #141414;
        border-color: $red;
        &:before {
          content: "\2713";
          margin-right: 5px;
          color: green;
          text-shadow: none;
        }
      }
    }
    .game-msg {
      font-size: 14px;
      position: absolute;
      width: 100%;
      top: -20px;
      left: 0;
      white-space: nowrap;
      &.fail {
        color: red;
        &::before {
          margin-right: 5px;
          content: "\2715";
        }
      }
      &.sucess {
        color: green;
        &::before {
          margin-right: 5px;
          content: "\2713";
        }
      }
    }
  }
  /* Rating Section -------------------- */
  .rating-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -25px;
    .game-info {
      max-width: fit-content;
      flex-basis: 25%;
      padding: 0 25px;
      font-size: 1.2rem;
      font-weight: 700;
      white-space: nowrap;
      color: #fff;
      h2 {
        color: $red;
        font-size: 1.4rem;
      }
      &:not(:last-child) {
        border-right: 1px solid rgba($gold, 0.5);
      }
    }
  }
  .game-website,
  .game-reddit-url {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 0;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    .bb-icon {
      font-size: 30px;
      color: $gold;
    }
    a {
      color: $gold;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    & + .game-reddit-url {
      margin-top: -28px;
    }
  }
  .game-reddit-url {
    align-items: flex-start;
    .bb-icon {
      margin-top: 7px;
    }
  }
  .game-reddit-desc {
    margin-top: 30px;
  }
  .game-tags {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    h2 {
      flex-basis: 100%;
    }
    a {
      color: #fff;
      padding: 4px 10px 7px;
      font-size: 0.75rem;
      border: 1px solid #bcb382;
      border-radius: 3px;
      background: #000;
      line-height: 1;
      opacity: 0.75;
      transition: all 0.25s linear;
      &:hover {
        opacity: 1;
      }
    }
  }
  .game-genres,
  .game-developer,
  .game-publisher {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    h2 {
      flex-basis: 100%;
    }
    a {
      color: $sage;
      line-height: normal;
      &:not(:last-child):after {
        content: "";
        margin: 0 10px;
        display: inline-block;
        vertical-align: middle;
        height: 13px;
        border-right: 1px solid #fff;
      }
      &:hover {
        color: $gold;
      }
    }
  }
  .game-similar,
  .game-alternative {
    p {
      margin-top: 10px;
      margin-bottom: 0;
      a {
        color: $sage;
        &::before {
          @extend %icon;
          content: "\e957";
          vertical-align: middle;
          margin-right: 6px;
          color: #fff;
        }
        &:hover {
          color: $gold;
        }
      }
    }
  }
  .game-similar,
  .game-alternative {
    .xfire-content {
      margin-top: 10px;
      .game-item {
        .game-item-header {
          gap: 20px;
        }
        .game-item-details {
          height: calc(100% - 120px);
        }
        h2 {
          font-size: 0.85rem;
        }
        img {
          height: 120px;
        }
        .game-meta {
          li {
            // flex-direction: column;
            gap: 5px;
            // align-items: flex-start;
            a {
              &::before {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}

.game-sidebar {
  .game-screenshots {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    h2 {
      flex-basis: 100%;
      max-width: 100%;
    }
    a {
      flex-basis: calc(50% - 5px);
      max-width: calc(50% - 5px);
      @media screen and (min-width: 361px) and (max-width: 991px) {
        flex-basis: calc((100% / 3) - 7px);
        max-width: calc((100% / 3) - 7px);
      }
      @media screen and (max-width: 360px) {
        flex-basis: 100%;
        max-width: 100%;
      }

      overflow: hidden;
      img {
        width: 100%;
        transition: all 0.2s linear;
      }
      &:hover {
        img {
          transform: scale(1.2) rotate(5deg);
        }
      }
    }
  }
}
/* ------------------- Comments Module ------------------- */
#comments {
  border: 2px solid $sage;
  padding: 15px;
  #comment {
    border: 1px solid rgba(white, 0.25) !important;
  }
  #submit {
    background: #353432 !important;
    &:hover {
      background: $red !important;
    }
  }
}
