.wcpm-list-invoices .wcpm-job-data .job-name,
.wcpm-list-invoices .wcpm-job-data .job-number {
  padding: 10px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
}

.wcpm-list-invoices .wcpm-job-data .job-name h4,
.wcpm-list-invoices .wcpm-job-data .job-number h4 {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
}

.wcpm-list-invoices .job-tax-details {
  padding-top: 20px;
  font-weight: 600;
  border-bottom: 2px solid #999;
  margin-bottom: 20px;
}

.wcpm-list-invoices .job-tax-details p {
  margin-bottom: 0.8rem;
}

.wcpm-list-invoices .job-invoices-list h4 {
  margin-bottom: 1rem;
}

.wcpm-list-invoices .invoices-list-table th,
.wcpm-list-invoices .invoices-list-table td {
  border: 1px solid #999;
  padding: 1rem 1rem;
}

.wcpm-list-invoices .invoices-list-table td p {
  margin: 0;
}

.wcpm-list-invoices .invoices-list-table td:first-child {
  background-color: #0c5395;
  color: #fff;
}


