/* -----------------------------------------------
    Design Elements
----------------------------------------------- */

/* Set Icon list icon alignment to top -------- */
#content {
  .elementor-widget {
    .elementor-icon-list-item {
      align-items: flex-start;
      .elementor-icon-list-icon {
        margin-top: 5px;
      }
    }
  }
  .elementor-column-gap-extended {
    @media screen and (min-width: 768px) {
      margin-left: -15px;
      margin-right: -15px;
      width: auto;
    }
  }
}
