/* -----------------------------------------------
    Global Custom Styles
----------------------------------------------- */
body {
  font-family: "Segoe UI", sans-serif;
}

#content {
  padding-top: 60px;
  @media screen and (max-width: 1024px) {
    padding-top: 45px;
  }
  @media screen and (max-width: 767px) {
    padding-top: 30px;
  }
  /* Page Title ----------------------------- */
  .page-header {
    margin-bottom: 45px;
    @media screen and (max-width: 1024px) {
      margin-bottom: 30px;
    }
    @media screen and (max-width: 767px) {
      margin-bottom: 15px;
    }
    .entry-title,
    .elementor-heading-title {
      font-style: italic;
      text-align: center;
      &:after {
        content: "";
        display: block;
        margin: 12px auto 0;
        width: 60px;
        height: 6px;
        background: var(--primary);
      }
    }
  }
  /* Page Feature Top Text ------------------ */
  .idh-narrow-text {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
  }
}
