/* -----------------------------------------------
    Global Custom Styles
----------------------------------------------- */
body {
  font-family: "Segoe UI", sans-serif;
  @media screen and (min-width: 1440px) {
    // .elementor-container,
    // #idh-header .elementor-container {
    //   max-width: 90% !important;
    // }
    // .elementor-inner-section {
    //   .elementor-container {
    //     max-width: 100% !important;
    //   }
    // }
  }
}

#content {
  padding-top: 60px;
  @media screen and (max-width: 1024px) {
    padding-top: 45px;
  }
  @media screen and (max-width: 767px) {
    padding-top: 30px;
  }
  /* Page Title ----------------------------- */
  .page-header {
    margin-bottom: 45px;
    // @media screen and (max-width: 1024px) {
    //   margin-bottom: 30px;
    // }
    // @media screen and (max-width: 767px) {
    //   margin-bottom: 15px;
    // }
    .entry-title,
    .elementor-heading-title {
      font-style: italic;
      text-align: center;
      &:after {
        content: "";
        display: block;
        margin: 12px auto 0;
        width: 60px;
        height: 6px;
        background: var(--primary);
      }
    }
  }
  /* Page Feature Top Text ------------------ */
  .idh-narrow-text {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
  }
}
/* Custom Button -------------------------- */
.btn {
  max-width: fit-content;
  padding: 0 30px;
  color: #fff;
  border: none;
  padding: 12px 24px;
  justify-content: center;
  font-weight: 500;
  border-radius: 7.5px;
  transition: all 0.2s linear;
  &.btn-primary {
    background: var(--primary);
    &:hover {
      color: #fff;
      background: var(--primary-dark);
    }
  }
}
/* Loader --------------------------------- */
.idh-loader,
.idh-loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.idh-loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
