/* -----------------------------------------------
    Header Custom Styles
----------------------------------------------- */
body {
  --scrollbar-width: calc(100vw - 100%);
  #idh-header {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    padding: 0 20px;
    transition: all 0.25s linear;
    width: calc(100vw - var(--scrollbar-width));
    .elementor-container {
      > div {
        flex-grow: 1;
      }
      > div:first-child,
      > div:last-child {
        max-width: max-content;
      }
      @media screen and (max-width: 767px) {
        flex-wrap: nowrap;
      }
    }
    ul {
      .elementor-item {
        text-shadow: none;
        fill: none;
        -webkit-tap-highlight-color: transparent;
      }
    }
    .idh-notifications {
      .elementor-widget-container {
        /* comminted till adding language switcher */
        // margin-right: 5px;
      }
      .elementor-icon-wrapper {
        width: 26px;
        padding: 2px 0px 0px 0px;
        i {
          top: 2px;
        }
      }
    }
    .wpml-ls {
      padding: 0;
      margin: 0;
      border: none;
      li {
        a {
          color: var(--gray);
          font-weight: 300;
          border-radius: 6px;
          border: 1px solid var(--gray);
          padding: 2px 12px 7px;
        }
        &:not(.wpml-ls-item-ar) {
          display: none;
        }
      }
    }
    &.shrink {
      box-shadow: 0 2px 7px -2px #999;
      background: var(--primary);
      .elementor-container {
        min-height: 64px;
        .elementor-nav-menu--main .elementor-item {
          // padding-top: 20px;
          // padding-bottom: 20px;
        }
      }
    }
    .elementor-menu-toggle {
      padding: 0;
    }
    @media screen and (max-width: 1200px) {
      padding: 10px 20px;
      &.shrink {
        padding: 0 20px;
        .elementor-container {
          min-height: 54px;
        }
      }
    }
    .elementor-nav-menu--dropdown {
      // margin-top: 0 !important;
      // top: 42px !important;
    }
  }
  &.admin-bar {
    #idh-header {
      top: 32px;
      @media screen and (max-width: 1200px) {
        top: 32px;
        // &.shrink {
        //   top: 0;
        // }
      }
    }
  }
}

#idh-top-section {
  @media screen and (max-width: 767px) {
    .elementor-column:last-child .elementor-widget-image {
      position: static;
      margin: 15px auto 20px;
      max-width: 70px;
    }
  }
}
