/* -----------------------------------------------
    Page :: About
----------------------------------------------- */
.idh-about-values {
  .elementor-container {
    .elementor-column:last-child {
      flex-grow: 1;
    }
  }
}

.more-btn {
  margin-top: -15px;
  a {
    &:hover {
      border: none !important;
    }
  }
}
