%links-hover {
  position: relative;
  &::after {
    display: block;
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 1px;
    background: #ddd;
    box-shadow: 0 0 1px 0px #aaa;
    transition: all 0.25s linear;
  }
  &:hover {
    &::after {
      width: 100%;
    }
  }
}

.idh-news-item {
  .elementor-heading-title {
    a {
      @extend %links-hover;
    }
  }
  .idh-news-more {
    .elementor-button-wrapper {
      margin-top: 0;
      margin-left: 3px;
      @extend %links-hover;
    }
  }
}
