/* -----------------------------------------------
    Page :: Services
----------------------------------------------- */
#idh-services {
  a {
    pointer-events: none;
  }
  .elementor-post__title {
    min-height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
