/* -----------------------------------------------
    Page :: Services
----------------------------------------------- */
#idh-services {
  a {
    pointer-events: none;
  }
  .elementor-post__title {
    min-height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

#idh-services-form {
  > div {
    margin-bottom: 10px;
  }
  .row {
    margin-left: -15px;
    margin-right: -15px;
    .col {
      padding-left: 15px;
      padding-right: 15px;
      flex-basis: 50%;
      max-width: 50%;
    }
  }
}
