/* ----------------------------------------------------
    Homepage
---------------------------------------------------- */

/* HomeSlider RTL Pages ---------------------------- */
.rtl {
  #home-slider {
    .owl-item {
      figcaption {
        @media screen and (min-width: 768px) {
          direction: rtl;
          text-align: right;
          right: 90px;
          left: auto;
        }
      }
    }
  }
}
