.ps-profile {
  .ps-alert {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .ps-profile__account-row {
    background: #fafafa;
    margin-top: 10px;
  }
  .ps-form__field {
    .ps-form__error {
      margin-top: 8px;
    }
  }
}
