.gform_wrapper {
  .gform_description {
    border: 1px dashed #ccc;
    width: 100%;
    display: block;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    background: #fafafa;
    text-align: center;
  }
  .ginput_counter {
    margin-top: 0.5rem;
  }
  .gfield_description {
    display: none;
  }
}
