/* ---------------------------------------------
    Footer Componenets
--------------------------------------------- */
.gc-footer {
  margin-top: 60px;
  padding-top: 30px;
  padding-bottom: 10px;
  // position: relative;
  // border-top: 2px solid $dark;
  // background: $main;
  // color: $white;
  font-size: 14px;
  font-family: "Roboto", "Noto Naskh Arabic", sans-serif;
  .gc-footer__grid {
    grid-template-columns: repeat(5, 1fr);
    > .gc-widget:first-child {
      grid-column: 1/3;
    }
  }
  .widget,
  .gc-widget,
  .dokan-store-widget {
    padding: 0;
    background: none;
    border-radius: 0;
    color: #fff;
    box-shadow: none;
  }
  .gc-widget__title {
    padding: 0;
  }
  h2,
  h3,
  .widgettitle {
    color: #fff;
    font-family: "Kanit";
    font-weight: normal;
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 24px;
  }
  img {
    max-width: 150px;
    margin-bottom: 19px;
  }
  p {
    font-size: 1rem;
    max-width: 550px;
  }
  ul {
    padding: 0 !important;
  }
  li {
    font-size: 1rem;
    color: #fff;
    margin-bottom: 15px !important;
  }
  a {
    padding: 0 !important;
    color: $white !important;
    &:hover {
      background: none !important;
      color: $secondary !important;
    }
  }
  .wp-block-media-text {
    display: flex;
    flex-direction: column;
  }
  .wp-block-media-text__content {
    padding: 0;
  }
  .wp-block-media-text__media,
  .wp-block-media-text__content {
    align-self: flex-start;
  }

  .gc-footer__copyrights {
    text-align: center;
    flex-basis: 100%;
    font-size: 1rem;
    > div {
      display: none !important;
    }
  }
}
