.gc-header__wrapper {
  @media screen and (max-width: 767px) {
    .gc-header__inner {
      flex-wrap: wrap;
    }
    .hm-header__menu {
      min-height: 45px;
    }
    .gc-header__addons {
      flex-basis: 100%;
      min-width: 100%;
      order: 1;
      margin: 0;
    }
    .gc-header__widget {
      justify-content: center;
      padding-bottom: 10px;
      border-top: 1px solid #eee;
      padding-top: 10px;
      .wp-block-button__link {
        padding: 5px 10px;
        font-size: 12px !important;
        border-radius: 4px;
      }
    }
  }
}
