:root {
  --primary-color: #202056;
  --secondary-color: #0ff0ff;
  --third-color: #c60000;
  --light-gray: #cecbcb;
  --font-tahoma: 'Tahoma', sans-serif;
}

@media (min-width: 576px) {
  #refine-search .modal-dialog,
  #refine-search .modal-content {
    max-width: 600px;
  }
}

#refine-search .modal-header {
  right: 0;
  left: auto;
}

#refine-search .modal-body {
  padding-bottom: 0;
  text-align: left;
}

#refine-search .modal-body h4 {
  margin: 15px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
}

#refine-search .modal-body .sailboat-refine-search {
  padding: 0 15px;
}

#refine-search .modal-body .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 15px;
}

#refine-search .modal-body .form-group label {
  font-weight: 600;
  font-size: 0.85em;
  color: #333;
  margin-bottom: 5px;
}

@media screen and (max-width: 767px) {
  #refine-search .modal-body .form-group .col-md-6 + .col-md-6 {
    margin-top: 10px;
  }
}

#refine-search .modal-body .form-control {
  padding: 6px 12px;
}

#refine-search .modal-body select.form-control {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: url(../images/select-arrow.png) 98% center no-repeat;
}

#refine-search .modal-body .radio-inline,
#refine-search .modal-body .checkbox-inline {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-right: 30px;
}

#refine-search .modal-body .radio-inline input,
#refine-search .modal-body .checkbox-inline input {
  margin-right: 5px;
}

#refine-search .modal-body .sailboats-first-letter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#refine-search .modal-body .sailboats-first-letter a {
  min-width: 30px;
  height: 30px;
  border: 1px solid #ccc;
  font-size: 13px;
  line-height: 28px;
  text-align: center;
  margin-bottom: -1px;
  margin-right: -1px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

#refine-search .modal-body .sailboats-first-letter a:hover, #refine-search .modal-body .sailboats-first-letter a.active {
  background: var(--primary-color);
  color: #fff;
}

#refine-search .modal-body .select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 38px;
}

#refine-search .modal-body .select2-container--default .select2-selection--single .select2-selection__arrow {
  margin-top: 5px;
}

#refine-search .modal-body .select2-container .select2-selection--single {
  height: 38px;
}

#refine-search .modal-footer {
  border-top: 1px solid #ccc;
}

#refine-search .modal-footer .sailboat-reset {
  background: none;
  border: 1px solid #ccc;
  color: #999;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#refine-search .modal-footer .sailboat-reset:hover {
  background: #eee;
}

.modal-backdrop.fade.show {
  opacity: 0.5;
  display: block;
}

#sailboat-list-pagination.sailboat-pagination {
  text-align: center;
}

#sailboat-list-pagination.sailboat-pagination ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  margin-bottom: 10px;
}

#sailboat-list-pagination.sailboat-pagination ul li a,
#sailboat-list-pagination.sailboat-pagination ul li span {
  display: block;
  background: var(--primary-color);
  color: #fff;
  padding: 3px 11px 5px 11px;
  border-radius: 50px;
  -webkit-filter: drop-shadow(rgba(0, 0, 0, 0.3) 0px 2px 4px);
          filter: drop-shadow(rgba(0, 0, 0, 0.3) 0px 2px 4px);
  font-size: 15px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

#sailboat-list-pagination.sailboat-pagination ul li a:hover, #sailboat-list-pagination.sailboat-pagination ul li a:focus,
#sailboat-list-pagination.sailboat-pagination ul li span:hover,
#sailboat-list-pagination.sailboat-pagination ul li span:focus {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

#sailboat-list-pagination.sailboat-pagination ul li.active a,
#sailboat-list-pagination.sailboat-pagination ul li.active a:hover,
#sailboat-list-pagination.sailboat-pagination ul li.active a:focus,
#sailboat-list-pagination.sailboat-pagination ul li.active span,
#sailboat-list-pagination.sailboat-pagination ul li.active span:hover,
#sailboat-list-pagination.sailboat-pagination ul li.active span:focus {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

#sailboat_ratio_results_box_form [disabled] {
  opacity: 1;
  color: #000;
  background: rgba(239, 239, 239, 0.3);
}
/*# sourceMappingURL=sailboat-refine-search.css.map */