:root {
  --primary-color: #202056;
  --secondary-color: #0ff0ff;
  --third-color: #c60000;
  --light-gray: #cecbcb;
  --font-tahoma: 'Tahoma', sans-serif;
}

.lost_reset_password {
  background: #fff;
  -webkit-filter: drop-shadow(rgba(0, 0, 0, 0.2) 0px 3px 6px);
          filter: drop-shadow(rgba(0, 0, 0, 0.2) 0px 3px 6px);
  border-radius: 8px;
  padding: 24px 30px;
}

.lost_reset_password h3 {
  text-transform: uppercase;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lost_reset_password h3:after, .lost_reset_password h3:before {
  content: '';
  border-top: 1px solid #f4f4f4;
  display: block;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.lost_reset_password .sailboat-reset-password-message {
  position: relative;
  border: 2px solid #d4d4d4;
  padding: 10px 10px 10px 45px;
  -webkit-filter: drop-shadow(rgba(0, 0, 0, 0.2) 0px 1px 1px);
          filter: drop-shadow(rgba(0, 0, 0, 0.2) 0px 1px 1px);
  background: #fff;
  font-size: 12px;
  margin-bottom: 20px;
}

.lost_reset_password .sailboat-reset-password-message:before {
  font-family: dashicons;
  content: '\f14c';
  position: absolute;
  left: -1px;
  top: 0;
  bottom: 0;
  background: #0780a4;
  padding: 5px 10px;
  color: #fff;
  font-size: 20px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lost_reset_password .sailboat-reset-password-message p {
  font-size: inherit;
  margin-bottom: 0;
}

.lost_reset_password .sailboat-form-row label {
  color: #8a8a8a;
  font-size: 1rem;
  display: block;
  line-height: 24px;
}

.lost_reset_password .sailboat-form-row label .required {
  font-size: 13px;
  color: var(--third-color);
}

.lost_reset_password .sailboat-form-row input {
  border-color: #ededed;
  border-width: 2px;
  border-radius: 0;
  background: #fafafa;
  font-size: 1rem;
  padding: 8px;
  width: 100%;
}

.lost_reset_password .btn {
  padding: 8px 1.75rem;
}

.lost_reset_password .sailboat-register-password-error-messages {
  background: #fff9f9;
  border: 1px solid var(--third-color);
  font-size: 14.992px;
  margin-top: 8px;
  padding: 12.992px 24px;
  margin-bottom: 1rem;
}

.lost_reset_password .sailboat-register-password-error-messages p {
  margin-bottom: 0;
  color: inherit;
}

.lost_reset_password .sailboat-register-password-error-messages {
  background: #f1adad;
  border: 2px solid #e35b5b;
  padding: 8px 12px 0;
  margin-bottom: 12px;
}

.lost_reset_password .sailboat-register-password-error-messages p {
  margin-bottom: 10px;
}

.lost_reset_password .sailboat-reset-password-success-messages {
  color: #fff;
  background: #41c74b;
  border: 2px solid #53a459;
  padding: 8px 12px 0;
  margin-bottom: 10px;
  font-weight: 700;
}

.lost_reset_password .sailboat-reset-password-success-messages p {
  margin-bottom: 10px;
}
/*# sourceMappingURL=sailboat-reset-password.css.map */