.geodir-wgt-map {
  width: 100vw;
  margin-inline-start: calc((100% - 100vw) / 2);
}

.geodir-search-container {
  position: relative;
  z-index: 9999;
  background: #eee;
  padding: 15px 15px 0;
  border-radius: 5px;
}

.geodir-listings,
.geodir-loop-container {
  .card {
    .card-body {
      display: flex;
      flex-direction: column;
    }
    .geodir-entry-title {
      font-size: 1.5rem;
      font-weight: 600;
      margin-bottom: 0;
    }
    .list-group-item {
      border: none;
    }
    p:empty {
      display: none;
    }
    [itemprop="postalCode"] {
      display: none;
    }
    [itemprop="streetAddress"] {
      & + br {
        display: none;
      }
    }
    .wp-block-geodirectory-geodir-widget-post-title,
    .wp-block-geodirectory-geodir-widget-output-location,
    .wp-block-geodirectory-geodir-widget-post-content {
      & + p {
        display: none;
      }
    }
    .geodir_post_meta {
      display: flex;
      flex-direction: column;
      padding-bottom: 0;
      padding-inline-start: 30px !important;
      br:last-child {
        display: none;
      }
      .geodir_post_meta_icon {
        font-weight: 500;
        margin-bottom: 5px;
        margin-inline-start: -23px;
        line-height: normal;
        color: $third;
        & + span {
          padding-inline-start: 8px;
        }
        & + a {
          margin-inline-start: 8px;
          [dir="rtl"] {
            font-family: "Noto Naskh Arabic";
          }
        }
      }
    }
    .wp-block-geodirectory-geodir-widget-post-content {
      & + p + p {
        margin-bottom: 0;
        margin-top: auto;
      }
    }
    .gd-badge {
      margin-top: 20px;
      padding: 12px 16px;
      text-transform: uppercase;
      font-size: 1rem;
      font-weight: 500;
      background: $main !important;
      transition: all 0.2s linear;
      &:hover {
        background: lighten($main, 15%) !important;
      }
    }
  }
}

.location-join {
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  .wp-block-column {
    display: flex;
    align-items: center;
  }
  p {
    width: 100%;
  }
  @media screen and (min-width: 782px) {
    p {
      margin: 0;
    }
    .wp-block-buttons {
      margin-inline-start: auto;
    }
  }
  @media screen and (max-width: 781px) {
    text-align: center;
    .wp-block-buttons {
      margin: auto !important;
    }
  }
}

.entry-content {
  > .wp-block-geodirectory-geodir-widget-notifications {
    margin-top: -28px;
  }
}

.rtl {
  .geodir-listings .card .geodir_post_meta,
  .geodir-loop-container .card .geodir_post_meta {
    font-size: 1.15rem;
    .geodir_post_meta_icon {
      font-family: "Cairo", sans-serif;
      font-weight: 600;
      + span {
        line-height: 1.25;
      }
    }
  }
}
