#uro-quiz {
  .gfield {
    padding: 15px;
    border: 1px solid #ddd;
    background: #fafafa;
    border-radius: 4px;
  }
  .gchoice:not(:last-child) {
    margin-bottom: 10px;
  }
  .validation_message {
    padding: 5px 15px;
    border-radius: 4px;
    margin-top: 12px;
  }
  .gform_wrapper .gfield_error .gfield_repeater_cell label,
  .gform_wrapper .gfield_error label,
  .gform_wrapper .gfield_error legend,
  .gform_wrapper [aria-invalid="true"] + label,
  .gform_wrapper label + [aria-invalid="true"] {
    color: inherit;
  }
  .gfield_error {
    border-color: #c02b0a;
  }
  a {
    text-decoration: underline;
  }
  .gfield.hidden_label {
    .gfield_description.gfield_consent_description {
      direction: ltr;
      text-align: left;
      line-height: normal;
      .emoji {
        display: none !important;
      }
    }
  }
  .gf_list_3col_vertical {
    .gfield_checkbox {
      grid-column-gap: 5px;
      display: flex;
      flex-wrap: wrap;
    }
    .ginput_container_checkbox {
      max-width: 450px;
      .gfield_checkbox {
        color: #fff;
        text-align: center;
        .gchoice {
          position: relative;
          flex-grow: 1;
          flex-basis: calc((100% - 10px) / 3);
          max-width: calc((100% - 10px) / 3);
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: 5px;
          @media screen and (max-width: 521px) {
            flex-basis: calc((100% - 5px) / 2);
            max-width: calc((100% - 5px) / 2);
          }
          label {
            cursor: pointer;
            min-height: 150px;
            min-width: 100%;
            background: #81a3be;
            padding: 10px;
            border: 4px solid transparent;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            transition: all 0.2s linear;
            &:hover {
              border-color: $third;
            }
          }
          &:last-child {
            label {
              // min-height: 0;
              span {
                &::before {
                  color: #b8f2fa;
                  content: "\2715";
                  display: block;
                  margin-bottom: 10px;
                  font-size: 2rem;
                }
              }
            }
          }
          input {
            position: absolute;
            width: 0;
            height: 0;
            z-index: -1;
            &:checked + label {
              border-color: $third;
            }
          }
          span {
            display: block;
            margin-top: 10px;
            font-size: 1rem;
          }
          img {
            max-width: 64px;
          }
        }
      }
    }
  }
}

.rtl {
  #uro-quiz {
    .gform_wrapper .gform_description,
    .gform_wrapper.gravity-theme .gfield_label {
      font-family: "Cairo", sans-serif;
    }
    .gform_wrapper.gravity-theme .gfield_label {
      line-height: normal;
      margin-bottom: 15px;
    }
    .gfield.hidden_label .gfield_description.gfield_consent_description {
      direction: rtl;
      text-align: right;
    }
  }
}

.gform-settings-panel__content {
  .bulleted {
    padding: 0;
    margin: 0;
    li {
      display: flex;
      align-items: center;
      img {
        max-width: 30px;
        padding: 5px;
        border-radius: 4px;
        background: #eee;
        margin-inline-end: 7px;
      }
    }
  }
}
