.uro-call2action {
  background: none !important;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  margin-inline-start: calc((100% - 100vw) / 2);
  position: relative;
  &::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    // background: rgba(255, 255, 255, 0.65);
    z-index: 0;
  }
  .action-wrapper {
    position: relative;
    z-index: 0;
    width: 100%;
    max-width: 1280px; //Container width
    padding: 45px 30px;
    h2,
    p {
      margin-bottom: 30px;
      text-align: start;
    }
    h2 {
      color: $main;
    }
    p {
      font-size: 1.25rem;
      line-height: 1.5;
    }
    a {
      display: block;
      max-width: fit-content;
      margin-inline-start: auto;
      margin-inline-end: 0;
    }
    @media screen and (max-width: 767px) {
      h2,
      p {
        text-align: center;
      }
      a {
        margin-inline-end: auto;
      }
    }
  }
}
