.uro-news {
  h2 {
    text-align: center;
    color: $main;
    padding-bottom: 10px;
  }
}
.news-list {
  li {
    margin-bottom: 30px;
  }
  .card {
    border: none;
    height: 100%;
    background: $gray-lite;
    transition: all 0.2s linear;
    .news-time {
      color: $gray-dark;
    }
    .card-body {
      overflow: hidden;
      position: relative;
      display: flex;
      flex-direction: column;
      p,
      small {
        z-index: 1;
        position: relative;
      }
      p {
        text-overflow: ellipsis;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
      }
      small {
        margin-top: auto;
      }
    }
    &:hover {
      color: inherit;
      box-shadow: 0 0 11px #aaa;
      transform: translateY(-10px);
    }
  }
}
