/* -----------------------------------------
    Footer
----------------------------------------- */
#site-footer {
  li,
  a,
  a span {
    transition: all ease 0.3s;
  }
  a:hover {
    .elementor-icon-list-text {
      color: $accent;
    }
  }
  .elementor-icon-list-items {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  .elementor-widget-social-icons {
    &::before {
      color: #fff;
      display: block;
      content: "Follow Us";
    }
  }
  .elementor-heading-title {
    @media screen and (max-width: 991px) {
      font-size: 0.875rem;
      line-height: 1.5rem;
    }
  }
}
.footer-canvas-menu-wrapper {
  .footer-canvas-menu-bg,
  .footer-canvas-menu-btn-container {
    right: 15px;
    bottom: 15px;
  }
}
