/* -----------------------------------------
    Homepage Events Calendar
----------------------------------------- */
#eces_calendar {
  @extend %white-container;
  display: block;
  .fc-toolbar-title {
    font-size: 1.25em;
    font-weight: normal;
  }
}

.register-now {
  margin: 30px auto 0;
  max-width: fit-content;
  padding: 5px 15px;
  a {
    @extend %btn;
  }
  &::before {
    @extend %icon-element;
    content: "\f4ff";
    margin-inline-end: 7px;
  }
}

/* -----------------------------------------
    Homepage Important Events
----------------------------------------- */
.ec-important-event-list {
  .event-col {
    flex-basis: calc(100% / 3);
    max-width: calc(100% / 3);
    .item-wrapper {
      height: 100%;
      margin-bottom: 0;
    }
    @media screen and (max-width: 767px) {
      flex-basis: 100%;
      max-width: 100%;
      &:not(:last-child) {
        margin-bottom: 15px;
      }
      .item-wrapper {
        height: auto;
        img {
          max-height: 300px;
          object-fit: cover;
        }
      }
    }
  }
}
