/* -----------------------------------------
    Homepage Events Calendar
----------------------------------------- */
#eces_calendar {
  @extend %white-container;
  display: block;
  .fc-toolbar-title {
    font-size: 1.25em;
    font-weight: normal;
  }
}

.register-now {
  margin: 30px auto 0;
  max-width: fit-content;
  padding: 5px 15px;
  a {
    @extend %btn;
  }
  &::before {
    @extend %icon-element;
    content: "\f4ff";
    margin-inline-end: 7px;
  }
}

/* -----------------------------------------
    Homepage Important Events
----------------------------------------- */
.ec-important-event-list {
  .event-col {
    flex-basis: 50%;
    max-width: 50%;
    .item-wrapper {
      height: 100%;
      margin-bottom: 0;
    }
    @media screen and (max-width: 767px) {
      flex-basis: 100%;
      max-width: 100%;
      &:not(:last-child) {
        margin-bottom: 15px;
      }
      .item-wrapper {
        height: auto;
        img {
          max-height: 300px;
          object-fit: cover;
        }
      }
    }
  }
}

/* -----------------------------------------
    Single Event
----------------------------------------- */
.event-attachments-wrapper {
  padding: 15px 15px 5px;
  background-color: #fafafa;
  border: 1px solid #eee;
  h3 {
    font-size: 1rem;
  }
  .event-pdfs {
    margin: 0 -5px;
    padding: 0;
    list-style: none;
    display: flex;
    li {
      margin: 0 5px 10px;
      a {
        background: #fff;
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 5px 15px;
        border: 1px solid #ccc;
        i {
          font-size: 1.5em;
        }
        &:hover {
          border-color: $accent;
          color: $accent;
        }
      }
    }
  }
}

.event-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  .event-link {
    background: #2d8cffc7 !important;
    img {
      max-height: 18px;
      margin-right: 10px;
    }
    &:hover {
      background: #42474e;
    }
  }
}

.single-eces_event {
  .elementor-pagination-position-outside .swiper-container {
    padding-bottom: 45px;
  }
  .elementor-widget-theme-post-featured-image {
    max-height: 400px;
    .elementor-widget-container {
      height: 100%;
    }
    img {
      height: 100%;
      object-fit: cover;
    }
  }
  .elementor-widget-image-carousel .swiper-slide {
    height: auto;
    .swiper-slide-inner,
    img {
      height: 100%;
    }
    .swiper-slide-inner img {
      object-fit: cover;
      border: 1px solid #eee;
    }
  }
}

/* -----------------------------------------
    Calendar
----------------------------------------- */
.fc-event-main .fc-event-title-container {
  white-space: normal;
}

/* -----------------------------------------
    Events Archive
----------------------------------------- */
.rivax-posts-wrapper.layout-grid {
  .meta-wrapper {
    .date {
      i {
        display: inline-block;
        &:before {
          content: "\f133";
          font-style: normal;
          font-variant: normal;
          text-rendering: auto;
          line-height: 1;
          font-family: "Font Awesome 5 Free" !important;
          font-weight: 900 !important;
          color: #999;
        }
      }
    }
  }
}
