/* -----------------------------------------
    Variables
----------------------------------------- */
$primary: #1fbacf;
$secondary: #1fbacf;
$accent: #cf34a9 /*ef767a*/;
$dark: #011c37;
$text: #333;
$gray: #f7ece1;

* {
  letter-spacing: 0 !important;
}

%item-heading {
  margin: 0;
  word-wrap: break-word;
  line-height: normal;
  letter-spacing: 0;
  display: table-cell;
  vertical-align: middle;
  span {
    color: $primary;
    word-break: break-word;
    background-image: linear-gradient(90deg, currentColor, currentColor);
    background-repeat: no-repeat;
    background-size: 0% 2px;
    background-position: left bottom;
    transition: 0.6s cubic-bezier(0.25, 0.8, 0.25, 1);
    display: inline;
    padding: 2px 0;
  }
}
%item-heading-hover {
  span {
    color: $accent;
    background-size: 100% 2px;
  }
}
/* -----------------------------------------
    Grid
----------------------------------------- */
.ecrow {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
  > div {
    padding: 0 10px;
  }
  [class^="col-"] {
    flex-basis: 100%;
    max-width: 100%;
  }
  @media screen and (min-width: 576px) {
    .col-xs-6 {
      flex-basis: 50%;
      max-width: 50%;
    }
  }
  @media screen and (min-width: 769px) {
    .col-sm-6 {
      flex-basis: 50%;
      max-width: 50%;
    }
  }
  @media screen and (min-width: 993px) {
    .col-md-4 {
      flex-basis: calc(100% / 3);
      max-width: calc(100% / 3);
    }
    .col-md-6 {
      flex-basis: 50%;
      max-width: 50%;
    }
  }
  @media screen and (min-width: 1025px) {
    .col-lg-3 {
      flex-basis: 25%;
      max-width: 25%;
    }
    .col-lg-4 {
      flex-basis: calc(100% / 3);
      max-width: calc(100% / 3);
    }
    .col-lg-12 {
      flex-basis: 100%;
      max-width: 100%;
    }
  }
  @media screen and (min-width: 1200px) {
    .col-xl-3 {
      flex-basis: 25%;
      max-width: 25%;
    }
    .col-lg-12 {
      flex-basis: 100%;
      max-width: 100%;
    }
  }
}

/* -----------------------------------------
    Social Icons Hover Colors
----------------------------------------- */
.elementor-social-icon-facebook {
  &:hover {
    background: #1877f2 !important;
  }
}
.elementor-social-icon-twitter {
  &:hover {
    background: #1da1f2 !important;
  }
}
.elementor-social-icon-linkedin {
  &:hover {
    background: #0a66c2 !important;
  }
}
.elementor-social-icon-youtube {
  &:hover {
    background: #cd201f !important;
  }
}

/* -----------------------------------------
    Hover Effect on Post Items
----------------------------------------- */
body {
  .post-item:hover .title a {
    color: $accent !important;
    background-size: 100% 2px;
  }
  .rivax-post-kenzo-widget .post-item:hover .title a {
    color: lighten($accent, 15%) !important;
  }
}

/* -----------------------------------------
    Slider Post Item Padding
----------------------------------------- */
.rivax-post-modern-widget .swiper-wrapper .post-wrapper .content-wrapper {
  padding: 10px 0;
  text-align: center !important;
}

/* -----------------------------------------
    Elementor Elements
----------------------------------------- */
.elementor-blockquote {
  p {
    margin-bottom: 0;
    &:empty {
      display: none;
    }
  }
}
.rivax-advanced-heading-tag {
  .rivax-advanced-heading-wrap {
    .rivax-advanced-heading-border {
      &::after {
        bottom: -12px;
        border-color: $accent;
      }
    }
  }
}
.archive:not(.tax-eces_event_category) .rivax-advanced-heading-tag {
  .rivax-advanced-heading-wrap {
    min-width: 100%;
    justify-content: center;
  }
}
body .eces-advanced-search-wrapper [type="submit"] {
  font-size: 1rem;
}
/* -----------------------------------------
    Search Results
----------------------------------------- */
.advanced-search-results {
  .rivax-advanced-heading-one {
    color: $text;
  }
  .srch-keyword {
    color: $primary;
  }
}
/* -----------------------------------------
    Site Map
----------------------------------------- */
.elementor-sitemap-wrap {
  .elementor-sitemap-item {
    margin-bottom: 10px;
    line-height: 1.5;
    a {
      transition: all 0.25s linear;
      &:hover {
        color: $secondary;
      }
    }
    ul {
      margin-top: 12px;
      margin-left: 10px;
      li {
        color: #999 !important;
        list-style-type: "= ";
      }
    }
  }
}
/* -----------------------------------------
    Colors Override
----------------------------------------- */
body {
  .post-wrapper .terms-wrapper .term-item {
    background: $primary;
    &:hover {
      background: $accent !important;
    }
  }

  .elementor-element #menu-eces-header-nav li.menu-item > a:hover,
  .elementor-element #menu-eces-header-nav li.current-menu-item > a,
  .elementor-element #menu-eces-header-nav li.current-menu-ancestor > a,
  .rivax-header-nav-wrapper.hover-style-1 > #menu-eces-mobile-nav > li.menu-item > a,
  .rivax-advanced-heading-three,
  .rivax-advanced-heading-one,
  .rivax-advanced-heading-two {
    color: $primary;
    &::before {
      background: $accent;
    }
  }
}
