/* -----------------------------------------
    RTL Style
----------------------------------------- */
html[dir="rtl"],
body.rtl {
  font-size: 18px;
  .single-content {
    padding: 0;
  }
  .elementor-widget-theme-post-content,
  .elementor-posts-container .elementor-post__title a {
    font-family: "amiri", "cairo", "Sinkin Sans", Sans-serif !important;
  }
}
.rtl {
  /* Typography --------------------------- */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 600 !important;
    font-family: "Cairo", sans-serif !important;
    span {
      font-weight: 600 !important;
      font-family: "Cairo", sans-serif !important;
    }
  }
  /* Header ------------------------------- */
  #site-header {
    .rivax-logo {
      text-align: start;
    }
    .elementor-social-icons-wrapper {
      text-align: end;
    }
    @media screen and (max-width: 767px) {
      .rivax-logo {
        text-align: center;
      }
    }
    .wpml-ls-native {
      font-size: 14px;
    }
  }
  #ec-nav {
    .elementor-widget-wrap {
      padding-top: 4px !important;
      padding-bottom: 4px !important;
      .menu-item span {
        font-weight: bold;
      }
    }
    .post-item .post-wrapper .title {
      line-height: 30px;
    }
  }

  #ec-header .ec-mobile-menu .elementor-nav-menu__container {
    @media screen and (max-width: 1024px) {
      right: auto;
      left: -10px;
    }
    @media screen and (max-width: 767px) {
      margin-top: -4px;
    }
  }
  #site-sticky-header {
    .rivax-header-nav > li.menu-item-has-children > a {
      padding-left: 1.25em;
    }
  }
  /* Sticky Header  ----------------------- */
  #site-sticky-header {
    .rivax-header-nav {
      li.menu-item {
        line-height: normal;
      }
      a {
        span {
          font-weight: bold;
        }
      }
    }
  }
  /* Advanced Search ---------------------- */
  .elementor-location-popup {
    .elementor-search-form__container {
      display: flex;
      transition: 0.2s;
      overflow: hidden;
      border: 0 solid transparent;
      background: #eceeef;
    }
    .elementor-search-form__icon {
      opacity: 0.6;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      color: #55595c;
      fill: #55595c;
      padding-right: calc(50px / 3);
    }
    .elementor-search-form__input {
      margin: 0;
      border: 0;
      padding: 0;
      display: inline-block;
      vertical-align: middle;
      white-space: normal;
      background: none;
      line-height: 1;
      min-width: 0;
      font-size: 18px;
      appearance: none;
    }
    .rivax-advanced-button {
      .title {
        font-family: "Cairo";
        font-size: 20px;
      }
      i {
        margin-right: 10px;
        margin-left: 0;
        transform: rotate(180deg);
      }
    }
  }
  /* Footer ------------------------------- */
  #site-footer {
    * {
      text-align: start;
    }
    .rivax-divider-heading {
      justify-content: start;
    }
    .elementor-icon-list-item {
      justify-content: start;
      a {
        justify-content: start;
      }
    }
    .elementor-widget-social-icons {
      &::before {
        content: "تابعنا على";
      }
    }
  }
  /* Elementor Elements ------------------- */
  .elementor-icon-list-item:not(.elementor-post-info) {
    .elementor-icon-list-text {
      padding-left: 0 !important;
      padding-inline-start: 5px !important;
    }
  }
  .elementor-icon-list-items.elementor-post-info {
    .elementor-icon-list-text {
      padding-inline-start: 0px !important;
    }
  }

  /* Pagination --------------------------- */
  .pagination .fa {
    transform: rotate(180deg);
  }
  /* Newsletter & Map --------------------- */
  .ec-newsletter {
    .elementor-widget-icon-box.elementor-position-left .elementor-icon-box-icon {
      margin-right: 0;
      margin-left: 15px;
    }
  }
  /* ECES Board --------------------------- */
  .ec-board-block {
    .ec-board-pos {
      .ec-member-name {
        margin-bottom: 5px;
        .elementor-heading-title {
          font-size: 26px;
        }
      }
    }
    .ec-member-pos {
      .elementor-heading-title {
        font-size: 15px !important;
        line-height: 1.5 !important;
      }
    }
  }
  /* ECES Member -------------------------- */
  .ec-member-block {
    .elementor-heading-title {
      direction: rtl;
      text-align: start;
    }
    .ec-member-name {
      margin-bottom: 8px;
      .elementor-heading-title {
        font-size: 21px !important;
      }
    }
    h3.elementor-heading-title {
      font-size: 17px !important;
    }
  }
  /* ECES Team --------------------------- */
  .ec-team-block {
    .elementor-widget {
      margin-bottom: 13px !important;
    }
    .ec-member-name {
      .elementor-heading-title {
        font-size: 20px !important;
        height: auto;
      }
    }
    .ec-member-pos {
      .elementor-heading-title {
        min-height: 0;
        font-size: 16px !important;
      }
    }
    .elementor-icon-box-wrapper {
      flex-direction: row-reverse !important;
      .elementor-icon-box-icon {
        margin-left: 0 !important;
        margin-right: 5px !important;
      }
    }
  }
  /* Advanced search --------------------- */
  .eces-advanced-search-wrapper label {
    display: block;
    margin-bottom: 7px;
  }
  /* Glossary ---------------------------- */
  .eces-glossary-results-wrapper table {
    td,
    th {
      direction: rtl;
      text-align: right;
    }
  }
  /* Bordered Bottom Title --------------- */
  .rivax-advanced-heading-wrap {
    padding-bottom: 10px;
  }
  /* Publications ------------------------ */
  .pub-normal-list .item {
    .item-heading {
      font-size: 18px;
    }
    .item-meta li {
      font-size: 14px;
      b {
        font-size: 18px;
      }
    }
  }
  .pub-books-list {
    .item-heading {
      font-size: 20px;
      line-height: 1.5;
    }
    .item-date {
      font-size: 14px;
    }
  }
  .pub-reports-list.post-attachs {
    .item .item-info .heading-title {
      font-size: 16px;
    }
  }
  /* Events ------------------------------ */
  .single-eces_event {
    .elementor-post-info {
      .elementor-post-info__item--type-date {
        font-size: 14px;
      }
    }
    .elementor-icon-box-wrapper .elementor-icon-box-content {
      order: -1;
    }
  }
  .rivax-advanced-heading-tag {
    .rivax-advanced-heading-wrap {
      .rivax-advanced-heading-border {
        &::after {
          bottom: 0;
        }
      }
    }
  }
  .fc-event-main .fc-event-title-container {
    text-align: right;
  }
  /* Homepage ---------------------------- */
  .layout-carousel .carousel-nav-wrapper {
    left: 33px;
  }
  /* Publications Periodical -------------- */
  .ec-periodical-in-page {
    .rivax-post-modern-widget .post-wrapper {
      .content-wrapper {
        .title {
          line-height: 1.4;
          a {
            background-position: 100% 36px;
          }
        }
      }
    }
  }
}
