/* -----------------------------------------------
    Variables
----------------------------------------------- */
:root {
  --primary: #203171;
  --secondary: #f24c4e;
  --gray-light: #f6f6f6;
  --text: #343434;
  --clock-height: 37px;
}

/* -----------------------------------------------
    Global Custom Styles
----------------------------------------------- */
body {
  padding-top: 94px;
}

@media screen and (max-width: 1024px) {
  body {
    padding-top: 75px;
  }
}

@media screen and (max-width: 767px) {
  body {
    padding-top: 60px;
  }
}

body .elementor-section.elementor-section-height-full {
  height: auto;
  min-height: calc(100vh - 60px);
}

@media screen and (min-width: 768px) {
  body .elementor-section.elementor-section-height-full {
    min-height: calc(100vh - 75px);
  }
}

@media screen and (min-width: 1025px) {
  body .elementor-section.elementor-section-height-full {
    min-height: calc(100vh - 94px);
  }
}

body .elementor-section .elementor-column-gap-extended {
  margin-left: -15px;
  margin-right: -15px;
  width: auto;
}

body .elementor-section .elementor-column-gap-extended .elementor-column {
  padding-left: 15px;
  padding-right: 15px;
}

body .elementor-section .elementor-column-gap-wide {
  margin-left: -20px;
  margin-right: -20px;
  width: auto;
}

body .elementor-section .elementor-column-gap-wide .elementor-column {
  padding-left: 20px;
  padding-right: 20px;
}

body .elementor-section .elementor-column-gap-wider {
  margin-left: -30px;
  margin-right: -30px;
  width: auto;
}

body .elementor-section .elementor-column-gap-wider .elementor-column {
  padding-left: 30px;
  padding-right: 30px;
}

/* -----------------------------------------------
    Header Custom Styles
----------------------------------------------- */
.cls-timezone .elementor-icon {
  vertical-align: middle;
}

.cls-timezone .elementor-widget-shortcode * {
  font-size: 14px !important;
  line-height: normal;
}

header .elementor-sticky--effects {
  position: relative;
}

header .elementor-sticky--effects::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100vw;
  background: #fff;
  left: -15px;
  top: 0;
  border-bottom: 1px solid #eee;
}

.cls-logo {
  justify-self: flex-start;
}

.cls-nav {
  margin: auto;
}

.cls-nav .elementor-widget-container {
  margin: 0;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
}

.cls-nav .elementor-nav-menu--main {
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
}

.cls-nav .elementor-nav-menu {
  -ms-flex-wrap: nowrap !important;
      flex-wrap: nowrap !important;
}

.cls-nav .current-menu-item a {
  font-weight: normal !important;
}

@media screen and (min-width: 1025px) {
  .cls-nav .elementor-nav-menu > li.menu-item {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .cls-nav .elementor-nav-menu > li.menu-item ul.sub-menu {
    left: auto !important;
    padding: 10px 15px;
  }
  .cls-nav .elementor-nav-menu > li.menu-item ul.sub-menu > li {
    padding: 10px 0;
  }
  .cls-nav .elementor-nav-menu > li.menu-item ul.sub-menu > li a {
    border: none;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  .cls-nav .elementor-nav-menu > li.menu-item ul.sub-menu > li a:hover {
    -webkit-box-shadow: 0 1px 0 red;
            box-shadow: 0 1px 0 red;
  }
  .cls-nav .elementor-nav-menu > li.menu-item ul.sub-menu > li ul.sub-menu {
    border: none;
    margin-top: -40px !important;
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
    -webkit-box-shadow: 0px 3px 6px #00000029;
            box-shadow: 0px 3px 6px #00000029;
    padding: 10px;
  }
  .cls-nav .elementor-nav-menu > li.menu-item ul.sub-menu > li ul.sub-menu li {
    padding: 5px 0;
  }
  .cls-nav .elementor-nav-menu > li.menu-item ul.sub-menu > li ul.sub-menu li ul.sub-menu {
    margin-top: -30px !important;
  }
}

@media screen and (max-width: 1024px) {
  .cls-nav .elementor-nav-menu > li.menu-item a {
    border-bottom: 1px solid #ccc;
    border-left: 0;
  }
  .cls-nav .elementor-nav-menu > li.menu-item a.highlighted {
    border-color: var(--secondary);
    font-weight: normal !important;
  }
  .cls-nav .elementor-nav-menu > li.menu-item > a:hover, .cls-nav .elementor-nav-menu > li.menu-item > a:focus, .cls-nav .elementor-nav-menu > li.menu-item > a:active {
    background: var(--gray-light) !important;
  }
  .cls-nav .elementor-nav-menu > li.menu-item > a.highlighted {
    background: #f1f1f1 !important;
  }
  .cls-nav .elementor-nav-menu > li.menu-item > a.highlighted + ul > li > a {
    background: #f1f1f1 !important;
  }
  .cls-nav .elementor-nav-menu > li.menu-item > a.highlighted + ul > li > a.highlighted {
    background: #e7e7e7 !important;
  }
  .cls-nav .elementor-nav-menu > li.menu-item > a.highlighted + ul > li > a.highlighted + ul > li > a {
    background: #e7e7e7 !important;
  }
  .cls-nav .elementor-nav-menu > li.menu-item > a.highlighted + ul > li > a.highlighted + ul > li > a.highlighted {
    background: #dddddd !important;
  }
  .cls-nav .elementor-nav-menu > li.menu-item > a.highlighted + ul > li > a.highlighted + ul > li > a.highlighted + ul > li > a {
    background: #dddddd !important;
  }
  .cls-nav .elementor-nav-menu .menu-item-has-children ul {
    border: none !important;
    background: var(--gray-light) !important;
  }
}

.cls-search .fa-search {
  background: none !important;
}

@media screen and (max-width: 1024px) {
  .cls-logo {
    margin-right: auto;
  }
  .cls-nav {
    margin: 0 0 0 15px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media screen and (max-width: 1024px) {
  .cls-nav {
    margin-left: 10px;
  }
}

/* -----------------------------------------------
    Footer Custom Styles
----------------------------------------------- */
.cls-footer nav {
  margin-top: 0px !important;
}

.cls-footer .elementor-nav-menu .menu-item {
  margin-bottom: 8px;
}

.cls-footer .elementor-nav-menu .menu-item a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0;
  font-size: 16px;
  line-height: 20px;
}

.cls-footer .elementor-nav-menu .menu-item a:hover {
  background: none;
  color: var(--secondary);
}

.cls-footer .elementor-container .elementor-column {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media screen and (max-width: 575px) {
  .cls-footer .elementor-column-gap-no > .elementor-column:nth-child(2) {
    width: 100%;
    margin-bottom: 30px;
  }
}

/* -----------------------------------------------
    Weather Widget
----------------------------------------------- */
.cls-weather .widgettitle {
  display: none;
}

.cls-weather .elementor-widget-sidebar .elementor-widget-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cls-weather .wp_forecast_widget {
  list-style: none;
  padding: 0 15px;
}

.cls-weather .wp_forecast_widget .wp-forecast {
  width: 125px;
  margin: auto;
  float: none;
  position: relative;
}

.cls-weather .wp_forecast_widget .wp-forecast-curr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cls-weather .wp_forecast_widget .wp-forecast-curr-head {
  font-weight: normal;
  font-size: 16px;
  color: var(--primary);
  padding: 0;
}

.cls-weather .wp_forecast_widget [style],
.cls-weather .wp_forecast_widget div:empty {
  display: none;
}

.cls-weather .wp_forecast_widget .wp-forecast-curr-left {
  position: relative;
  top: 3px;
}

.cls-weather .wp_forecast_widget .wp-forecast-fc .wp-forecast-fc-head,
.cls-weather .wp_forecast_widget .wp-forecast-fc .wp-forecast-fc-left {
  display: none;
}

.cls-weather .wp_forecast_widget .wp-forecast-fc .wp-forecast-fc-right {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: 14px;
  font-weight: normal;
  position: absolute;
  top: 47px;
  left: 72px;
}

.cls-weather .wp_forecast_widget .wp-forecast-fc .wp-forecast-fc-right * {
  padding: 0;
  float: none;
}

.cls-weather .mx-localize-time * {
  color: #55575b;
  font-size: 16px !important;
  line-height: normal;
}

@media screen and (max-width: 860px) {
  .cls-weather .elementor-widget-sidebar {
    margin-bottom: 5px;
  }
  .cls-weather .elementor-widget-sidebar .elementor-widget-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .cls-weather .elementor-widget-sidebar .wp_forecast_widget {
    padding: 0 15px 5px;
  }
  .cls-weather .wp_forecast_widget {
    -ms-flex-preferred-size: calc(100% / 3);
        flex-basis: calc(100% / 3);
    max-width: calc(100% / 3);
  }
}

@media screen and (max-width: 575px) {
  .cls-weather .wp_forecast_widget {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: 100%;
  }
  .cls-weather .elementor-widget-wrap {
    max-width: 360px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* -----------------------------------------------
    Design Elements
----------------------------------------------- */
.elementor-button-wrapper .elementor-button-icon {
  display: inherit;
  font-size: 22px;
}

/* -----------------------------------------------
    Pages :: Home
----------------------------------------------- */
.elementor-swiper .elementor-slides-wrapper .elementor-slides .swiper-slide {
  height: calc(100vh - 94px);
}

.elementor-swiper .elementor-slides-wrapper .elementor-slides .swiper-slide .swiper-slide-inner {
  padding: 90px 15px;
  width: 100%;
  max-width: 1215px;
}

.elementor-swiper .elementor-slides-wrapper .elementor-slides .swiper-slide .elementor-slide-heading {
  margin-bottom: 20px;
}

.elementor-swiper .elementor-slides-wrapper .elementor-slides .swiper-slide .elementor-slide-heading::before {
  content: "Clarksons Global Reach";
  line-height: normal;
  margin-bottom: 50px;
  color: #fff;
  font-size: 16px;
  font-weight: normal;
  text-transform: uppercase;
  display: block;
}

.elementor-swiper .elementor-slides-wrapper .elementor-slides .swiper-slide .elementor-slide-description {
  margin-bottom: 65px;
}

@media screen and (max-width: 1024px) {
  .elementor-swiper .elementor-slides-wrapper .elementor-slides .swiper-slide {
    height: calc(100vh - 75px);
  }
  .elementor-swiper .elementor-slides-wrapper .elementor-slides .swiper-slide .swiper-slide-inner {
    padding: 60px;
  }
  .elementor-swiper .elementor-slides-wrapper .elementor-slides .swiper-slide .swiper-slide-inner .swiper-slide-contents {
    max-width: 100%;
    text-align: center;
  }
  .elementor-swiper .elementor-slides-wrapper .elementor-slides .swiper-slide .elementor-slide-heading {
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 20px;
  }
  .elementor-swiper .elementor-slides-wrapper .elementor-slides .swiper-slide .elementor-slide-heading::before {
    margin-bottom: 20px;
  }
  .elementor-swiper .elementor-slides-wrapper .elementor-slides .swiper-slide .elementor-slide-description {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 767px) {
  .elementor-swiper .elementor-slides-wrapper .elementor-slides .swiper-slide {
    height: calc(100vh - 60px);
  }
  .elementor-swiper .elementor-slides-wrapper .elementor-slides .swiper-slide .swiper-slide-inner {
    padding: 45px 60px;
  }
  .elementor-swiper .elementor-slides-wrapper .elementor-slides .swiper-slide .elementor-slide-heading {
    font-size: 28px;
    line-height: 40px;
  }
  .elementor-swiper .elementor-slides-wrapper .elementor-slides .swiper-slide .elementor-slide-description {
    margin-bottom: 20px;
  }
}

.cls-services .elementor-column-gap-default {
  margin-left: -10px;
  margin-right: -10px;
  width: auto;
  max-width: none !important;
}

@media screen and (min-width: 768px) {
  .cls-services .elementor-column-gap-default .elementor-widget-wrap,
  .cls-services .elementor-column-gap-default .elementor-widget,
  .cls-services .elementor-column-gap-default .elementor-widget-container {
    height: 100%;
  }
}

.cls-services h3 {
  color: var(--primary);
}

.cls-newsletter .elementor-message-success {
  color: #0be562;
}

@media screen and (min-width: 1025px) {
  .cls-newsletter .elementor-form-fields-wrapper .elementor-field-group {
    width: auto;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .cls-newsletter .elementor-form-fields-wrapper .e-form__buttons {
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
  }
}

@media screen and (max-width: 1024px) {
  .cls-newsletter .elementor-form {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* -----------------------------------------------
    Pages :: Team Members
----------------------------------------------- */
.elementor-pagination {
  padding: 10px 0;
  margin: 45px 0 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.cls-dep-filter .searchandfilter ul,
.cls-dep-filter .searchandfilter li {
  padding: 0;
  margin: 0;
}

.cls-dep-filter .searchandfilter div > ul:first-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cls-dep-filter .searchandfilter div > ul:first-of-type > li {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.cls-dep-filter .searchandfilter div > ul:first-of-type > li:last-child {
  display: none;
}

.cls-dep-filter .searchandfilter ul ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 15px;
  border-bottom: 1px solid #ddd;
}

.cls-dep-filter .searchandfilter ul ul li {
  font-weight: normal;
  margin: 0 20px;
  margin-bottom: -17px;
  font-weight: bold;
}

.cls-dep-filter .searchandfilter ul ul li label {
  cursor: pointer;
  display: block;
  color: var(--text);
  border-color: var(--text);
  padding-bottom: 15px;
  border-bottom: 3px solid transparent;
  -webkit-transition: all 0.25s linear;
  transition: all 0.25s linear;
}

.cls-dep-filter .searchandfilter ul ul li label input {
  display: none;
}

.cls-dep-filter .searchandfilter ul ul li.current-cat label, .cls-dep-filter .searchandfilter ul ul li:hover label {
  color: var(--secondary);
  border-color: var(--secondary);
}

.cls-dep-filter-mobile ul,
.cls-dep-filter-mobile li {
  padding: 0;
  margin: 0;
}

.cls-dep-filter-mobile li:first-child {
  position: relative;
}

.cls-dep-filter-mobile li:first-child::after {
  content: "\f078";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  top: 9px;
  right: 14px;
}

.cls-dep-filter-mobile li:last-child {
  display: none;
}

.cls-dep-filter-mobile .clrk-team-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.cls-dep-filter-mobile .clrk-team-select #ofdepartment {
  border-color: #ddd;
  margin: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.cls-dep-filter-mobile .clrk-team-select::before {
  content: "Select Department";
  font-weight: normal;
  font-size: 18px;
  color: var(--primary);
}

@media screen and (max-width: 480px) {
  .cls-dep-filter-mobile .clrk-team-select {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cls-dep-filter-mobile .clrk-team-select #ofdepartment {
    width: calc(100vw - 60px);
  }
}

.team_member .elementor-icon-list-item {
  padding-left: calc((100% - 300px) / 2) !important;
  padding-right: calc((100% - 300px) / 2) !important;
}

.team_member .elementor-icon-list-item .elementor-icon-list-text {
  text-align: left;
}

.team_member .elementor-icon-list-item .elementor-icon-list-text span {
  font-size: 17px;
  color: var(--primary);
}
/*# sourceMappingURL=style.css.map */