// ------------------------------------------ \\
// Color Definition
// ------------------------------------------ \\
$main: #013a75;
$secondary: #25d2ff;
$third: #8835e4;
$white: #fff;
$black: #000000;
$dark: #070909;
$gray-dark: #7a7e83;
$gray-mid: #00000033;
$gray-lite: #f3f5f7;
