.thwmscf-buttons input {
  background: var(--secondary-color);
  padding: 10px;
  color: var(--primary-btn-text-color);
  width: auto;
}
.thwmscf-tab-label {
  color: var(--text-color);
}
.thwmscf-tab-panels {
  background: var(--main-color) !important;
}
.thwmscf-tab-panels label {
  display: block;
  padding: 5px 0;
}
.thwmscf-tab-panels textarea,
input {
  width: 100%;
  padding: 5px 0;
}
.thwmscf-buttons {
  text-align: center !important;
}
#billing_company_field,
#billing_country_field {
  display: none;
}
/*Map model changes */
.cleanpage #map-modal .modal-content {
  background: var(--main-color) !important;
  border-radius: 10px;
}
.cleanpage #map-modal .modal-header h3 {
  padding: 0 5px;
  margin: 0 15px 0 10px;
  display: inline;
  text-align: center;
}
.cleanpage #map-modal .modal-header .close {
  color: var(--secondary-color) !important;
  padding: 5px;
  margin-left: auto;
  margin-right: 15px;
}
.cleanpage #map-modal .modal-header {
  text-align: center;
  padding-top: 15px;
  display: flex;
  align-items: center;
}
.cleanpage .confirm-location {
  border: none;
  border-radius: 17px;
  background: var(--secondary-color);
  color: var(--primary-btn-text-color) !important;
  padding: 10px 20px !important;
  margin-bottom: 0 !important;
}
.change-your-location {
  color: var(--primary-btn-text-color) !important;
}
/*Map model changes */
/*ali's changes*/
@media (min-width: 576px) {
  .woocommerce-billing-fields__field-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 0 30px;
  }

  .form-row:not(.place-order) {
    /*width: 46% !important;*/
    width: calc(50% - 15px) !important;
    margin: 0 !important;
    margin-bottom: 20px !important;
  }

  .thwmscf_time_line_step .thwmscf-index {
    left: 44% !important;
  }
}

.thwmscf_time_line_step .thwmscf-index {
  left: 44%;
  right: auto;
}

input:focus,
button:focus,
.form-control:focus {
  outline: none;
  box-shadow: none;
}

.woocommerce-billing-fields__field-wrapper input {
  border: 1px solid rgb(179, 179, 179) !important;
  height: 45px;
  margin: 0;
  /*padding-inline-start: 20px;*/
  padding: 0 1.25em;
  border-radius: 9px;
  box-sizing: border-box;
  width: 100%;
}

.woocommerce-billing-fields__field-wrapper label {
  color: var(--secondary-color);
}

.woocommerce-billing-fields__field-wrapper label abbr {
  color: red;
}

.woocommerce-billing-fields h3,
.woocommerce-additional-fields h3 {
  color: var(--secondary-color) !important;
}

.cleanpage #billing_country_field label {
  margin-bottom: 0;
}

.form-row.form-row-wide.address-field {
  /*margin-bottom: 26px !important;*/
}

label[for="billing_state"] {
  margin-bottom: 0 !important;
}

.form-row#billing_phone_field {
  /*margin-bottom: 31px !important;*/
}

#order_comments_field {
  width: 100% !important;
}

label[for="order_comments"] {
  color: var(--secondary-color);
}

.thwmscf-buttons {
  margin-bottom: 20px !important;
}

#action-prev,
#action-next {
  border: none;
  border-radius: 5px;
}

.select2-container .select2-selection--single {
  height: 42px !important;
  border-radius: 9px;
  background: var(--main-color);
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: var(--text-color);
}

#order_comments_field .woocommerce-input-wrapper textarea {
  border-radius: 9px;
}

input {
  background: var(--main-color);
}

.change-location-opt .change-your-location {
  margin: 0;
}

.change-location-opt .change-your-location {
  border: none;
  border-radius: 17px;
  background: var(--secondary-color);
}

@media (max-width: 576px) {
  .form-row.form-row-last {
    flex-direction: column !important;
  }
}

.thwmscf-buttons input {
  padding: 12px 26px;
  font-size: 1.2rem;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  text-align: start;
}

#thwmscf-tab-panel-2 {
  padding: 20px 30px;
  border-radius: 20px;
  box-shadow: 3px 3px 2px rgb(0 0 0 / 20%);
  border: 1px solid #ededed;
}

.shop_table.woocommerce-checkout-review-order-table thead {
  line-height: 2;
}

tfoot tr:first-of-type {
  border-top: 1px solid #ededed;
}

tfoot tr:first-of-type th,
tfoot tr:first-of-type td {
  padding-top: 20px;
}

tfoot:before {
  content: "";
  margin-top: 20px;
  display: block;
}

#thwmscf-tab-panel-3 {
  padding: 20px 30px;
  border-radius: 20px;
  box-shadow: 3px 3px 2px rgb(0 0 0 / 20%);
  border: 1px solid #ededed;

  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

#payment ul {
  text-align: start;
}

#payment ul li input {
  width: auto;
  display: inline-block;
  margin-bottom: 12px;
}

.thwmscf-tab-panels label {
  display: inline-block;
  width: calc(100% - 26px);
}

.thwmscf-wrapper #payment .place-order {
  text-align: start;
}

@media (max-width: 768px) {
  label[for*="payment_method"] {
    width: 83%;
  }
  #payment ul li input {
    margin-bottom: 10px !important;
  }
}

/* ---- Edits by @hmed :: 27-07-2022 ---- */
.cleanpage #map-modal .alert {
  margin: 0;
}

.cleanpage #map-modal .alert + p #billing_address_map_search_input {
  top: 70px !important;
}

.cleanpage #place_order {
  max-width: 180px;
  border-radius: 5px;
  margin: 0 auto;
  font-size: 19px;
  font-weight: normal;
  text-transform: capitalize;
  padding: 11px 26px;
}

.cleanpage #thwmscf_wrapper .change-your-location {
  width: 100%;
  height: 45px;
  border-radius: 9px;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 0 1.25em;
}

.cleanpage #thwmscf_wrapper #order_comments_field label {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: normal;
}

.cleanpage #thwmscf_wrapper label[for="billing_address_2"] {
  width: auto;
  height: auto;
  position: static !important;
  clip: auto;
  -webkit-clip-path: none;
  clip-path: none;
  margin: 0;
  padding: 5px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.cleanpage #thwmscf_wrapper .woocommerce-input-wrapper input:-webkit-autofill,
.cleanpage #thwmscf_wrapper .woocommerce-input-wrapper input:-webkit-autofill:hover,
.cleanpage #thwmscf_wrapper .woocommerce-input-wrapper input:-webkit-autofill:focus,
.cleanpage #thwmscf_wrapper .woocommerce-input-wrapper input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  box-shadow: 0 0 0px 1000px white inset;
}

.cleanpage #thwmscf_wrapper #thwmscf-tab-panel-1 .woocommerce-billing-fields > h3 {
  display: none;
}

.cleanpage #thwmscf_wrapper #thwmscf-tab-panel-2 {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  padding: 0;
}

.cleanpage #thwmscf_wrapper #thwmscf-tab-panel-2 .shop_table td,
.cleanpage #thwmscf_wrapper #thwmscf-tab-panel-2 .shop_table th,
.cleanpage #thwmscf_wrapper #thwmscf-tab-panel-2 .tfoot td,
.cleanpage #thwmscf_wrapper #thwmscf-tab-panel-2 .tfoot th {
  border: 1px solid #9d9d9d;
  padding: 3px 10px !important;
  line-height: 32px;
}

.cleanpage #thwmscf_wrapper #thwmscf-tab-panel-2 td.product-name {
  padding-top: 15px !important;
}

.cleanpage #thwmscf_wrapper #thwmscf-tab-panel-2 thead th {
  background: #eee;
}

.cleanpage #thwmscf_wrapper #thwmscf-tab-panel-2 dl.variation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 0;
}

.cleanpage #thwmscf_wrapper #thwmscf-tab-panel-2 dl.variation dt {
  font-weight: bold;
  margin-bottom: 5px;
}

.cleanpage #thwmscf_wrapper #thwmscf-tab-panel-2 dl.variation dd {
  margin-left: 0;
  padding-left: 15px;
}

.cleanpage #thwmscf_wrapper #thwmscf-tab-panel-2 dl.variation dd:not(:last-child) {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.cleanpage #thwmscf_wrapper #thwmscf-tab-panel-2 dl.variation p {
  margin: 0;
}

.cleanpage #thwmscf_wrapper #thwmscf-tab-panel-3 {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  padding: 0;
}

.cleanpage #thwmscf_wrapper #thwmscf-tab-panel-3 .checkout-coupon-toggle {
  padding: 15px 15px;
  background: #eee;
  border-radius: 9px;
  border-bottom: 1px solid #ddd;
}

.cleanpage #thwmscf_wrapper #thwmscf-tab-panel-3 .show-coupon {
  display: block;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin-top: 10px;
}

.cleanpage #thwmscf_wrapper #thwmscf-tab-panel-3 .payment_box p {
  margin-top: 0;
  font-size: 0.85em;
  color: #999;
}

.cleanpage #thwmscf_wrapper .thwmscf-wrapper #payment .place-order .button {
  max-width: 180px;
  margin-left: auto;
  margin-right: auto;
  padding: 12px 26px;
  font-size: 1.2rem;
  border-radius: 5px;
}

.cleanpage #thwmscf_wrapper #action-prev,
.cleanpage #thwmscf_wrapper #action-next {
  width: 180px;
}

@media screen and (max-width: 400px) {
  .cleanpage #thwmscf_wrapper #action-prev,
  .cleanpage #thwmscf_wrapper #action-next {
    width: 140px;
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media screen and (max-width: 575px) {
  .cleanpage #thwmscf_wrapper .form-row.form-row-last {
    margin-bottom: 1rem;
  }
  .cleanpage #thwmscf_wrapper .woocommerce-additional-fields {
    padding-top: 1px;
  }
}

.cleanpage.ae_dark #thwmscf_wrapper .woocommerce-input-wrapper input:-webkit-autofill,
.cleanpage.ae_dark #thwmscf_wrapper .woocommerce-input-wrapper input:-webkit-autofill:hover,
.cleanpage.ae_dark #thwmscf_wrapper .woocommerce-input-wrapper input:-webkit-autofill:focus,
.cleanpage.ae_dark #thwmscf_wrapper .woocommerce-input-wrapper input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px #332818 inset;
  box-shadow: 0 0 0px 1000px #332818 inset;
}

.cleanpage.ae_dark #thwmscf_wrapper #thwmscf-tab-panel-2 {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  padding: 0;
}

.cleanpage.ae_dark #thwmscf_wrapper #thwmscf-tab-panel-2 .shop_table td,
.cleanpage.ae_dark #thwmscf_wrapper #thwmscf-tab-panel-2 .shop_table th,
.cleanpage.ae_dark #thwmscf_wrapper #thwmscf-tab-panel-2 .tfoot td,
.cleanpage.ae_dark #thwmscf_wrapper #thwmscf-tab-panel-2 .tfoot th {
  color: #e1cfc3;
  border: 1px solid #65452f;
}

.cleanpage.ae_dark #thwmscf_wrapper #thwmscf-tab-panel-2 thead th {
  background: #65452f;
}

.cleanpage.ae_dark #thwmscf_wrapper #thwmscf-tab-panel-2 dl.variation dd {
  border-color: #6c522b;
}

.cleanpage.ae_dark #thwmscf_wrapper #thwmscf-tab-panel-3 .checkout-coupon-toggle {
  color: #57370a;
  background: #dec4b2;
}

.cleanpage.ae_dark #thwmscf_wrapper #thwmscf-tab-panel-3 .checkout-coupon-toggle a {
  color: #935a05;
}

.cleanpage.ae_dark #thwmscf_wrapper #thwmscf-tab-panel-3 label[for="payment_method_paytabs_creditcard"] img {
  background: #fff;
}

@media screen and (max-width: 575px) {
  .cleanpage ul.thwmscf-tabs li a {
    padding: 10px;
    font-size: 14px;
  }
}

[dir="rtl"] .cleanpage #thwmscf_wrapper #thwmscf-tab-panel-2 dl.variation dt {
  float: right;
  margin-right: 0;
  margin-left: 0;
}

[dir="rtl"] .cleanpage #thwmscf_wrapper #thwmscf-tab-panel-2 dl.variation dd {
  margin-right: 0;
  padding-right: 15px;
  padding-left: 0;
}

[dir="rtl"] .cleanpage #thwmscf_wrapper .wc_payment_method img {
  float: left;
}

[dir="rtl"] .cleanpage .thwmscf_time_line_step ul.thwmscf-tabs li {
  float: right;
}
/*# sourceMappingURL=steps.css.map */
