/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 26, 2022, 4:33:18 PM
    Author     : objects
*/

$red: #ff0669;
$sage: #bcb382;
$gold: #e5c687;
$orange: #f8a03d;
$dark: #070707;

%icon {
  content: "\2022";
}

.hs-wrapper-1,
.hs-wrapper-2 {
  // overflow-x: scroll;
}

.hs-wrapper-1 {
  margin: 30px 0;
  display: none;
}

.hs-wrapper-1,
.hs-div-1 {
  overflow-y: hidden;
  height: 20px;
}

.hs-wrapper-2 {
  margin-top: 30px;
}

.xfire-compare-wrapper {
  //   overflow-x: auto;
  margin-top: 30px;
  .comparing-list {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      font-weight: normal;
      &::before {
        @extend %icon;
        color: $gold;
        margin-right: 5px;
        font-size: 1.75em;
        position: relative;
        top: 4px;
      }
    }
  }
  .hs-wrapper-2 {
    overflow-x: auto;
  }
  table {
    width: auto;
    max-width: none;
    td,
    th {
      word-break: keep-all;
      vertical-align: top;
      font-weight: normal;
    }
    th {
      font-size: 0.85rem;
      font-weight: 500;
      line-height: normal;
    }
    tr {
      td:first-child {
        color: $red;
        font-weight: bold;
        font-size: 1rem;
      }
    }
    a {
      color: $sage;
      &:hover {
        color: $gold;
      }
    }
    p {
      min-width: 150px;
    }
    .remove-item-from-compare {
      margin: 10px 0;
    }
    h3 {
      min-width: 150px;
      font-size: 1rem;
      line-height: normal;
      display: flex;
      align-items: baseline;
      justify-content: space-between;
      gap: 10px;
      a {
        color: $red;
        &:hover {
          color: darken($red, 10%);
        }
      }
    }
    .compare-game-image {
      width: 200px;
      height: 115px;
      object-fit: cover;
    }
    .xfire-desc-load-more {
      &::before {
        content: "+ ";
      }
    }
    .xfire-desc-show-less {
      &::before {
        content: "- ";
      }
    }
    .compare-site {
      height: auto !important;
      padding: 7px 15px;
      color: #fff;
      background: #141414;
      border-radius: 4px;
      white-space: nowrap;
      min-width: fit-content !important;
      max-width: fit-content !important;
      font-size: 0.75rem;
      font-weight: 600;
      text-transform: uppercase;
      color: $sage;
      border: 1px solid transparent;
      &:hover {
        color: $red;
        border-color: $red;
      }
    }
    .compare-gallery {
      display: flex;
      flex-wrap: wrap;
      gap: 5px;
      width: 200px;
      a {
        width: 63px;
        min-width: 63px;
        height: 50px;
        img {
          width: 100%;
          height: 50px;
          object-fit: cover;
        }
      }
    }
    .game_tag {
      width: 200px;
      max-width: 200px;
      max-height: 180px;
      overflow-y: auto;
    }
    .game_genre,
    .game_developer,
    .game_publisher,
    .game_platform,
    .game_engine,
    .protagonist_sex {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      h2 {
        flex-basis: 100%;
      }
      a {
        color: $sage;
        // white-space: nowrap;
        margin-bottom: 10px;
        &::before {
          @extend %icon;
          margin-right: 5px;
          color: #fff;
          font-size: 1.75em;
          position: relative;
          top: 4px;
        }
        &:hover {
          color: $gold;
        }
      }
    }
  }
}
